{% extends 'default.html' %} 
 
{% block title %}
My responses
{% endblock title %}

{% block content %}
    <br>
    <h2>Мои отклики</h2>
        {% if author_respones %}
                <p> количество откликов: {{ author_respones|length }} </p>
                    <table width="100%" cellpadding="8px">
                        <tr>
                            <td> <strong> Отклик </strong> </td>
                            <td> <strong> Дата публикации </strong> </td>
                            <td> <strong> Статус </td>
                            <td> <strong> Обявление </strong> </td>
                        </tr>
                        {% for response in author_respones %}
                        <tr>
                            <td> {{ response.text }}</td>
                            <td> {{ response.creation_time|date:'d M Y' }} </td>
                            <td> 
                                {% if response.status == False %}
                                    На подтверждении
                                {% else %}
                                    Подтвержден
                                {% endif %}
                            </td>
                            <td> {{ response.ad.title }} </td>
                            <td>  <a href="{% url 'response_delete' pk=response.id %}">Удалить</a> </td>
                        </tr>
                        {% endfor %}
                    </table>
        {% else %}
            <h4> Вы еще не оставили ни одного отклика! </h4>
        {% endif %}
        
{% endblock content %}